body {
  background-color: #ffe4b5;
  text-align: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

.Title {
  font-size: 70px;
  margin-top: -5px;
}

.playerip {
  margin-top: -20px;
}

.inputbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.inputbutton button,
button,
.resultbox {
  background-color: #ffdead;
  height: 100px;
  width: 300px;
  border-radius: 10px;
  border: 2px solid #8b4513;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  transition: background-color 0.3s ease;
}

.comchoose:hover {
  cursor: none;
  background-color: #deb887;
}

button:hover {
  background-color: #deb887;
}

.Reportbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.report,
.scorecard {
  border-radius: 10px;
  border: 2px solid #8b4513;
  margin-top: 30px;
  height: 100px;
  background-color: #ffdead;
}

.report {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 700px;
}

.scorecard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.resultbox {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 700px;
}

#resultinfo {
  margin-left: 10px;
  color: #008000; 
}
.report .reportstatus{
  color: red;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  body {
    font-weight: bold;
  }
  .Title{
    margin-top: 40px;
    font-size: 40px;
    padding: 20px;
  }
  .inputbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .inputbutton button,
  button {
    background-color: #ffdead;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #8b4513;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #deb887;
  }

  .Reportbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .report,
  .scorecard {
    width: 400px;
    height: 50px;
  }

  .scorecard {
    margin-top: -10px;
  }

  .result {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }

  .resultbox {
    display: flex;
    height: 70px;
    flex-direction: column;
    width: 400px;
  }

  .result button {
    width: 300px;
  }
}
